.nav-bar-wrapper {
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 120px auto; 
  grid-auto-rows: auto;
  border: 1px solid #DBDBDB;
  margin-bottom: 20px;
}

.nav-bar-logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1; 
  align-self: center;
  justify-self: center;
}

.nav-bar-search {
  margin-left: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  align-self: center;
  justify-self: start;
}

.nav-bar-login {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  align-self: center;
  justify-self: end;
}

#place {
  height: 50px;
  width: 500px;
  border-radius: 4px;
  box-shadow: 0px 2px 5px lightgrey;
  border: 1px solid #DBDBDB;
 }

.nav-bar-logo img {
  width: 40px;
  height: 40px;
}

.listing-wrapper {
  display: grid;
  grid-template-columns: [first] 5% 10% 10% 10% 10% 10% 2% 38% [last] 5% [l];
  grid-auto-rows: 500px 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.listing-booking {
  grid-column-end: last;
  grid-row-start: 3;
  grid-row-end: 8; 
  position: sticky; 
  top: 50px
}

.listing-img {
  overflow: hidden; 
  grid-column-start: first;
  grid-column-end: l;
  grid-row-start: 1;
  grid-row-end: 2;
}

.listing-img img {
  width: 100%; 
  height: 500px; 
  object-fit: cover;
}

.listing-nav {
  grid-column-start: 2;
  grid-column-end: last;
  grid-row-start: 2;
}
/* 
.MuiButton-label-91 {
  color:#008489;
} */

.line-break1 {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  border-bottom: 1px solid #DBDBDB
}

.listing-title {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 3;
}

.listing-type {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  margin-bottom: 10px;
}


.listing-space {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 5;
  margin-bottom: 40px;
}

.listing-space div {
  display: inline;
  margin-right: 10px;
}

.listing-space-detail {
  margin: 5px;
}

.listing-description {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 6;
  margin-bottom: 30px;
}

.line-break2 {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 6;
  border-bottom: 1px solid #DBDBDB
}

.listing-amenities {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 7;
  margin-top: 10px;
  margin-bottom: 30px;
}

.listing-amenities ul {
  columns: 2;
  padding-left: 0px;
}

li {
  list-style: none;
  text-align: start;
}

.strike {
  text-decoration: line-through
}

.line-break3 {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 7;
  border-bottom: 1px solid #DBDBDB
}

.listing-houserules {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 8;
  margin-top: 10px;
  margin-bottom: 30px;
}

.listing-houserules ul {
  padding-left: 0px;
}

.line-break4 {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 8;
  border-bottom: 1px solid #DBDBDB
}

.listing-cancellation {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 9;
  margin-top: 10px;
  margin-bottom: 30px;
}

.line-break5 {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 9;
  border-bottom: 1px solid #DBDBDB
}

.listing-rating {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 10;
  margin-top: 10px;
  margin-bottom: 30px;
}

.listing-rating-img {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 10;
  align-self: center;
}

.listing-rating-img img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.line-break6 {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 10;
  border-bottom: 1px solid #DBDBDB
}

.listing-host {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 11;
}

.listing-host-img {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 11;
}

.listing-host-img img{
  width: 80px;
  height: 80px;
  border-radius: 50px;
  align-self: center;
  justify-self: center; 
}

h1 {
  margin: 20px 0;
}

p {
  margin: 2px !important;
}

* {
  color: #484848;
  font-family: 'Crimson Text', serif;
  line-height: 25px;
}

/* .booking-price {

} */

.booking-container {
  display: grid;
  width: 385px;
  height: 500px;
  grid-template-columns: 15px [mid] auto [last] 15px;
  grid-auto-rows: auto;
  grid-gap: 10px;
  border: 1px solid #DBDBDB
}

.booking-price {
  margin-top: 20px;
  grid-column-start: mid;
  grid-row-start: 1;
  border-bottom: 1px solid #DBDBDB
}

.price-perNight {
  font-size: 1.5rem;
  margin-right: 5px;
}

.perNight-text {
  font-size: 1rem;
}

.booking-rating-img img{
  display: inline-block;
  margin-top: -8px;
  width: 10px;
  height: 10px;
}

.booking-reviewCount {
  margin-left: 6px;
}

.booking-dates {
  margin-top: 10px;
  grid-column-start: mid;
  grid-row-start: 2;
}

.booking-dates h5 {
  font-size: 18px;
  color: #484848;
  font-family: 'Crimson Text', serif;
}

.icon-arrow-forward {
  margin-left: 10px;
  margin-right: 10px;
  height: 4px;
}

.booking-guests {
  grid-column-start: mid;
  grid-row-start: 3;
  /* border-bottom: 1px solid #DBDBDB */
}

.booking-guests label {
  color: #484848 !important;
  font-family: 'Crimson Text', serif !important;
  font-size: 24px !important;
}

.booking-subtotal {
  grid-column-start: mid;
  grid-row-start: 4;
  border-bottom: 1px solid #DBDBDB
}

.booking-service-fee {
  grid-column-start: mid;
  grid-row-start: 5;
  border-bottom: 1px solid #DBDBDB
}

.booking-tax {
  grid-column-start: mid;
  grid-row-start: 6;
  border-bottom: 1px solid #DBDBDB
}

.booking-total {
  grid-column-start: mid;
  grid-row-start: 7;
  border-bottom: 1px solid #DBDBDB;
}

.booking-item {
  float: left;
}

.booking-item-price {
  float: right;
}

.booking-button {
  grid-column-start: mid;
  grid-row-start: 8;
  border-bottom: 1px solid #DBDBDB;
  justify-self: center;
}

.booking-button button {
  background-color:  #FF5A5F;
  min-width: 300px;
  min-height: 50px;
  border-radius: 6px;
  color: white;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* CHECKOUT STYLES */
.checkout {
  display: grid;
  grid-template-columns: 2fr 1fr 10px;
  grid-template-rows: 1fr;
  grid-template-areas: "details overview";
  grid-gap: 50px;
  -webkit-padding-start: 3em;
}

.overview {
  grid-area: "overview";
  margin: 3em 0;
}

.details {
  grid-area: "details";
  margin: 3em 0;
}

header {
  margin: 3em 0;
}

/* listing list*/

.listing-details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "listings map";
}

.listings {
  grid-area: "listings";
}

.map-container {
  grid-area: "map";
}

/* create account */

.submission {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

/* login */
#sign-up {
  cursor: pointer;
}

/* logged in navbar */
.avatar-img {
  border-radius: 50%;
  cursor: pointer;
}

.trip-container {
  display: grid;
  max-width: 350px;
  max-height: 600px;
  grid-template-columns: 40px [mid] 270px 40px;
  grid-auto-rows: 200px 90px 120px 75px 75px;
  border: 1px solid #DBDBDB;
  margin: 30px;
}

.trip-image {
  grid-column-start: 1;
  grid-column-end: 4;
  overflow: hidden; 
  grid-row-start: 1;
  grid-row-end: 2;
}

.trip-image img {
  width: 100%; 
  height: 200px; 
  object-fit: cover;
  z-index: 1;
}

.trip-avatar {
  grid-column-start: mid;
  grid-row-start: 1;
  align-self: end;
  justify-self: center;
  margin-bottom: -25px;
}

.trip-avatar img{
  width: 80px;
  height: 80px;
  border-radius: 50px;
  align-self: center;
  justify-self: center;
  z-index: 3; 
}

.trip-city {
  grid-column-start: mid;
  grid-row-start: 2;
  align-self: end;
  justify-self: center;
}

.trip-details {
  grid-column-start: mid;
  grid-row-start: 3;
  align-self: center;
  justify-self: center;
}

.trip-details p {
  line-height: 20px;
  text-align: center;
}

.trip-details h5 {
  font-weight: 200;
  margin-top: 10px;
  font-size: 1.15em;
  text-align: center;
}

.trip-rating {
  grid-column-start: mid;
  grid-row-start: 4;
  align-self: center;
  justify-self: center;
  text-align: center;
  /* border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB */
}

.trip-rating img{
  display: inline-block;
  margin-top: -8px;
  width: 10px;
  height: 10px;
}

.trip-border {
  grid-column-start: mid;
  grid-row-start: 4;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
}

.trip-receipt {
  grid-column-start: mid;
  grid-row-start: 5;
  align-self: center;
  justify-self: center;
}

.trips {
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: stretch;
  margin-bottom: 50px;
}

.trip {
  flex-grow: 1;
  flex-shrink: 1;
}

#past-trips {
  margin-left: 40px;
}

#upcoming-trips {
  margin-left: 40px;
}

/*material UI icons */
.material-icons.blue10 {
  color: #0d47a1
}